name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Addition test
      id: addition-test
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: Addition test
        setup-command: ''
        command: python aqa_tasks.py
        input: 5\n3\n+\n
        expected-output: '8'
        comparison-method: exact
        timeout: 5
        max-score: 15
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        ADDITION-TEST_RESULTS: "${{steps.addition-test.outputs.result}}"
      with:
        runners: addition-test
